/* Button */
.btn-square{
    margin-bottom: 20px;
    margin-top: 20px;
    cursor:pointer;
    position:relative;
    outline:none;
    background:$color-links;
    border:none;
    overflow:hidden;
    min-width:150px;
    text-align:center;
    z-index:5;
    border-radius:5px;

    a {
        display: block;
        padding:15px;
    }

    &:hover {

        &::before {
            background:$color-links;
            left:-12px;
            transform: rotateZ(5deg);
        }

        .btn-content{
            color:#fff;
        }
    }

    &::before{
        width:100%;
        content:'';
        height:100%;
        position:absolute;
        transform:rotateZ(10deg);
        left:-135%;
        transition:all 0.5s;
        top:-25px;
        width:130%;
        height:100px;
        background:$color-accent;
        z-index:10;
    }

    .btn-content{
        position:relative;
        z-index:15;
        color:#fff;
    }
}

.btn-small { 
    min-width: auto;

    > a {
        padding: 10px; 
        min-width: 50px; 
    }

    &::before {
        transition-duration: $timer-2;
    }
}

.btn-primary {
    background-color: $color-primary;

    &::before {
        background-color: lighten($color-primary, 20%);
    }

    &:hover {
        &::before{ background-color: $color-primary; }
    }
}