$font-primary: "Lato", sans-serif;
$font-secondary: "Montserrat", sans-serif;

$color-primary: #420039;
$color-accent: #fa7268;
$color-secondary: #13355B;
$color-links: #D72539;
$color-popout: #21A342;
$color-gs-lg: #EFEFEF;
$color-gs-dg: #2E2E2E;
$color-gs-g: #333;
$color-black: #1A1A1A;
$color-gs-default: #707070;
$color-gs-primary: #393E41;

$timer-0: 0.1s;
$timer-1: 0.2s;
$timer-2: 0.4s;
$darken-factor: 5%;


$padding-default: 20px;
$padding-1: 10px;
$padding-2: 15px;
$padding-3: 20px;
$padding-4: 30px;
$padding-5: 50px;